@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      margin-right: 30px
      margin-left: 0
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 225px
  .footer
    &__input
      flex-basis: 100%
@media (max-width: 992px) // Ipad mini-1
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    padiing: 40px 0 60px 0
    &__title
      margin-bottom: 57px
    &-slider
      &__item
        max-width: 580px
  .activities
    padding: 60px 0 70px 0
    &__title
      margin: 0
      margin-bottom: 57px
    &-wrapper
      flex-wrap: wrap
  .card
    width: 338px
    &:nth-last-of-type(n+3)
      margin-bottom: 20px
    &__image
      width: 100%
      height: 100%
      object-fit: cover
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      flex-basis: 49%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-row: 4
        grid-column: span 5
  .under-footer
    &-wrapper
      grid-template-columns: repeat(6, minmax(min-content, 1fr))
      grid-column-gap: 20px
    &__links-list
      grid-column: 1 / 5
      justify-self: start
    &__cards-image
      grid-column: 5 / 7
@media (max-width: 768px)
  .container
    width: 576px
  body
    padding: 78px 0 0 0
  .navbar
    &--mobile
      &_fixed
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 99
    &-bottom
      display: none
      position: fixed
      top: 78px
      right: 0
      left: 0
      bottom: 0
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        &--mobile
          &--visible
            display: block
      &__item
        margin-bottom: 20px
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
          max-width: 245px
    &__user
      flex-direction: column
      justify-content: center
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      width: 16px
      height: 11px
      padding: 0
      border: none
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
    &__slider
      margin-bottom: 20px
  .booking
    width: 100%
  .map
    width: 100%  
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    padding: 40px 0 60px 0
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 45px
        &--prev
          left: 50%
          margin-left: -75px
          transform: translateY(-50%, 0)
        &--next
          right: 50%
          margin-right: -75px
          transform: translateY(50%, 0)
    &__title
      margin-bottom: 50px
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
  .activities
    &-wrapper
  .card
    width: 278px
    &:nth-last-of-type(n+2)
      margin-bottom: 20px
  .footer
    &__input
      flex-basis: 100%
@media (max-width: 576px)
  .container
    width: 280px
    margin: auto
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      width: 280px
    &-title
      margin: 0
      margin-bottom: 37px
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        font-style: normal
        font-weight: 600
        font-size: 30px
        line-height: 38px
        word-wrap: none
    &__subscribe
      max-width: 100%
  .reviews
    padding: 40px 0 50px 0
    &__title
      margin-bottom: 42px
      max-width: 245px  
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
  .activities
    padding: 40px 0 60px 0
    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .footer
    padding-top: 69px
    padding-bottom: 21px
    &-wrapper
      grid-template-columns: 1fr
    &__social-network,
    &__additional,
    &__categories,
    &__legal,
    &__contact-details,
    &__contact-form
      max-width: 280px
    &__logo
      grid-row: 1
      grid-column: 1
    &__title
      &--mb-4
        margin-bottom: 15px
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__info
      flex-basis: 100%
    &__other
    &__form
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: repeat(5, min-content)
    &__input
      &--name
        grid-row: 1 / 2
      &--phone
        grid-row: 2 / 3
    &__message
      grid-column: 1 / 2
      margin-bottom: 15px
    &__info
      grid-row: 4 / 5
      margin-bottom: 15px
    &__button
      width: 160px
      min-height: 50px
      overflow: hidden
  .under-footer
    &__wrapper
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr
    &__links-list
      grid-column: 1 / 2
      max-width: 100%
    &__cards-image
      grid-row: 2 / 3
      grid-column: 1 / 2
      justify-self: start
    &__links-list
      display: flex
      justify-content: space-between
      width: 280px
    &__link
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      &:nth-last-of-type(n+2)
        margin-right: 0
      
      
  

